
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Anatolian+Hieroglyphs&family=Noto+Sans+JP:wght@100..900&family=Oswald:wght@200..700&family=Tac+One&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Noto Sans JP Regular", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;

}

body {
  overflow-x: hidden;
}

.heading, .name{
  font-weight: bold;
  position: absolute;
  z-index: 1;
  color: #240046;
}

.heading{
  font-size: calc(1vw + 5rem);
  top: 10px;
  left: 10px;
  font-weight: bold;
  writing-mode: vertical-lr;
  text-orientation: upright;

}

.name{
  bottom: 10px;
  right: 10px;
  left: auto!important;
  top: auto!important;
  font-size: calc(1vw + .5rem);
}

#scene {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
  background: radial-gradient(circle, #e0aaff 0%, #9d4edd 100%, #5a189a 100%);
  position: relative;
  overflow: hidden;
}

#scene::after{
  content: "";
  width: 100%;
  height: auto;
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.main__content{
  flex: 1;
}

#scene>div {
  display: flex!important;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 100;
}

#scene>div:nth-child(2)>div, #scene>div:nth-child(3)>div{
  opacity: 0;
}

.img01,
.img02,
.img03 {
  width: 500px;
  animation: float 4s ease-in-out infinite;
}

.img02{
  animation-delay: 1s;

}
.img03{
  animation-delay: 2s;
}

@keyframes float {
  0%,100%{
    transform: translateY(15px);
  }
  50%{
    transform: translateY(-15px);
  }
}